<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pico W Server</title>
  <style>
    :root {
      font: sans-serif;
      font-size: 10px;
    }

    body {
      margin: 0 auto;
      max-width: 600px;
    }

    h1 {
      font-size: 3rem;
      margin: 0 0 1rem;
      padding-top: 1rem;
      text-align: center;
    }

    main {
      font-size: 2rem;
    }

    form {
      display: flex;
      align-content: center;
      margin-top: 1rem;
    }

    input {
      font-size: inherit;
      margin: auto;
    }
  </style>
</head>

<body>
  <main>
    <h1>Pico W Example Template</h1>
    <p>This is a html template example for a simple embeded server on a raspberry pi pico w.</p>
    <form action="./action-1">
      <input type="submit" value="Action 1" />
    </form>
    <form action="./action-2">
      <input type="submit" value="Action 2" />
    </form>
    <form action="./action-3">
      <input type="submit" value="Action 3" />
    </form>
  </main>
</body>

</html>
